.card-country {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.card-country li {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card-country img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}

.card-text {
  text-align: left;
  text-wrap: wrap;
}
